.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}

.btn-clear-cart{
    width: 100%;
    background-color: tomato;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}